@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url('/bg.png');
  background-size: cover;
}

main {
  background-color: aliceblue;
}

.button {
  @apply ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

h1 {
  @apply mt-2;
  font-size: 2em;
}